/* Roboto */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Thin/Roboto-Thin.woff2?v=2.137") format("woff2"), url("../fonts/Roboto/Thin/Roboto-Thin.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Light/Roboto-Light.woff2?v=2.137") format("woff2"), url("../fonts/Roboto/Light/Roboto-Light.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../fonts/Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Medium/Roboto-Medium.woff2?v=2.137") format("woff2"), url("../fonts/Roboto/Medium/Roboto-Medium.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../fonts/Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Black/Roboto-Black.woff2?v=2.137") format("woff2"), url("../fonts/Roboto/Black/Roboto-Black.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: normal; }

/* Roboto Slab */
@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/Roboto Slab/Thin/RobotoSlab-Thin.woff2?v=1.0.0") format("woff2"), url("../fonts/Roboto Slab/Thin/RobotoSlab-Thin.woff?v=1.0.0") format("woff"), url("../fonts/Roboto Slab/Thin/RobotoSlab-Thin.ttf?v=1.0.0") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/Roboto Slab/Regular/RobotoSlab-Regular.woff2?v=1.0.0") format("woff2"), url("../fonts/Roboto Slab/Regular/RobotoSlab-Regular.woff?v=1.0.0") format("woff"), url("../fonts/Roboto Slab/Regular/RobotoSlab-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: normal; }

body {
  font-size: 1em;
  font-family: "Roboto", Arial, sans-serif;
  color: #242424;
  margin: 0 auto;
  min-width: 260px; }

img {
  max-width: 100%;
  height: auto; }

.btn {
  text-decoration: none;
  display: block;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer; }
  .btn:hover {
    opacity: 0.5; }
  .btn:active {
    box-shadow: inset 0 0 3px #000; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 91%;
  max-width: 1170px; }
  @media (min-width: 960px) {
    .container {
      padding: 0 70px;
      outline: 1px dashed red; } }
  @media (min-width: 480px) and (max-width: 960px) {
    .container {
      padding: 0 20px;
      outline: 1px dashed gold; } }
  @media (max-width: 480px) {
    .container {
      width: auto;
      padding: 0 10px;
      outline: 1px dashed black; } }

.header-content {
  padding-bottom: 140px; }
  .header-content__bg {
    background-color: #4a454b;
    padding-bottom: 20%;
    position: relative; }
    .header-content__bg::after {
      content: '';
      width: 80%;
      height: 31%;
      position: absolute;
      bottom: 0;
      left: 5%;
      transform: rotate(2deg) translateY(8%);
      background: url("../img/header-icons.png") no-repeat 0% 0;
      background-size: contain; }
      @media (max-width: 480px) {
        .header-content__bg::after {
          content: none; } }
  .header-content__angle {
    position: relative;
    margin-top: -20vh; }
    .header-content__angle::after, .header-content__angle::before {
      content: '';
      background-color: #fff;
      width: 100%;
      height: 100%;
      transform: skewY(-4deg); }
    .header-content__angle::before {
      position: absolute;
      top: 0;
      transform-origin: top right; }

.header-top {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 960px) {
    .header-top {
      padding-top: 45px;
      flex-direction: row; } }
  @media (min-width: 480px) and (max-width: 960px) {
    .header-top {
      padding-top: 20px; } }
  @media (max-width: 480px) {
    .header-top {
      padding-top: 10px; } }
  .header-top__logo {
    max-width: 230px;
    max-height: 62px;
    position: relative;
    align-self: center; }
  .header-top__area {
    color: #82b541;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0; }

.header-top-menu {
  margin-left: 0;
  width: auto; }
  @media (min-width: 960px) {
    .header-top-menu {
      width: 53.4%;
      margin-left: auto; } }
  @media (min-width: 480px) and (max-width: 960px) {
    .header-top-menu {
      margin-top: 40px;
      width: 100%; } }
  @media (max-width: 480px) {
    .header-top-menu {
      margin-top: 20px;
      outline: 1px solid red; } }
  .header-top-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 480px) {
      .header-top-menu__list {
        flex-direction: column;
        text-align: center; } }
  .header-top-menu__item:not(:last-child) {
    margin-right: 10px; }
    @media (max-width: 480px) {
      .header-top-menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px; } }
  .header-top-menu__link {
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap; }
    .header-top-menu__link:hover {
      outline: 2px solid #90d23d;
      outline-offset: 5px; }
    .header-top-menu__link:active {
      text-decoration: underline;
      outline: none;
      text-decoration-color: #90d23d; }

.countdown {
  border-radius: 20px;
  border: 2px solid #90d23d;
  min-height: 198px;
  width: 83%;
  max-width: 972px;
  margin: 120px auto; }
  @media (max-width: 480px) {
    .countdown {
      border: none;
      outline: 1px dashed red;
      margin: 40px auto; } }

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: relative; }
  @media (min-width: 960px) {
    .header-bottom {
      flex-direction: row; } }

@media (min-width: 960px) {
  .welcome {
    flex-basis: 51.5%;
    margin-top: auto; } }

.welcome__title {
  color: #242424;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 3.125em;
  font-weight: 900;
  margin-top: 70px;
  margin-bottom: 10px; }

.welcome__content {
  color: #242424;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 15px; }
  .welcome__content:last-child {
    margin-bottom: 0; }
  .welcome__content b {
    font-weight: 500; }

.authorize {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  padding-bottom: 20px;
  box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
  background-color: #fff;
  flex-basis: 36%;
  margin-top: 50px; }
  @media (min-width: 960px) {
    .authorize {
      margin-top: -135px; } }
  .authorize__heading {
    color: #252525;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    margin: 0; }
  .authorize__note {
    color: #6c6c6c;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9375em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0; }

.signup-form {
  display: flex;
  flex-direction: column; }
  @media (min-width: 480px) and (max-width: 960px) {
    .signup-form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }
  .signup-form__field {
    border-radius: 5px;
    border: 1px solid #90d23d;
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
    outline: none;
    font-size: 1.1875em;
    color: #6c6c6c;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    flex-grow: 1; }
    .signup-form__field::-webkit-input-placeholder {
      color: #bebebe;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 1.1875em;
      font-weight: 300; }
    .signup-form__field:-ms-input-placeholder {
      color: #bebebe;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 1.1875em;
      font-weight: 300; }
    .signup-form__field::-moz-placeholder {
      color: #bebebe;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 1.1875em;
      font-weight: 300; }
  .signup-form__btn {
    border-radius: 5px;
    background-color: #90d23d;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.375em;
    font-weight: 700;
    margin-top: 40px;
    padding: 15px; }
    @media (min-width: 480px) and (max-width: 960px) {
      .signup-form__btn {
        flex-basis: 50%;
        margin-left: auto;
        margin-right: auto; } }

.reward {
  position: relative;
  margin-top: 250px; }
  .reward::after, .reward::before {
    content: '';
    background-color: #4b4d4f;
    width: 100%;
    height: 100%;
    transform: skewY(-4deg); }
  .reward::before {
    position: absolute;
    top: 0;
    transform-origin: top right; }
  .reward::after {
    position: absolute;
    bottom: 0;
    transform-origin: bottom left; }
  .reward::after, .reward::before {
    z-index: -1; }
  @media (min-width: 480px) and (max-width: 960px) {
    .reward {
      margin-top: 200px; } }
  @media (max-width: 480px) {
    .reward {
      margin-top: 100px; } }
  .reward__content {
    position: relative;
    display: flex;
    text-align: right; }
    .reward__content::before {
      content: '';
      width: 30%;
      height: 74%;
      position: absolute;
      top: -40%;
      left: 6%;
      background: url("../img/elite-badge.png") no-repeat 50% 50%;
      background-size: contain; }
      @media (max-width: 480px) {
        .reward__content::before {
          content: none; } }
  .reward__article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto; }
    @media (min-width: 960px) {
      .reward__article {
        flex-basis: 64.5%; } }
  .reward__title {
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 3.125em;
    font-weight: 900;
    margin-top: 65px;
    margin-bottom: 20px; }
  .reward__desc p {
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px; }
    .reward__desc p:last-child {
      margin-bottom: 0; }
  .reward__link {
    border-radius: 15px;
    background-color: #90d23d;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    padding: 18px 25px;
    margin-top: 40px;
    margin-bottom: 60px; }

.speakers {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px; }
  .speakers__title {
    color: #242424;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 3.125em;
    font-weight: 900;
    margin-left: 30px;
    margin-top: 230px;
    margin-bottom: 10px; }
    @media (min-width: 480px) and (max-width: 960px) {
      .speakers__title {
        margin-top: 150px; } }
    @media (max-width: 480px) {
      .speakers__title {
        margin-top: 75px; } }
  .speakers__promo {
    color: #242424;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 60px; }
    @media (min-width: 960px) {
      .speakers__promo {
        max-width: 56%; } }

.speakers-catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 30px; }
  @media (min-width: 480px) and (max-width: 960px) {
    .speakers-catalogue {
      justify-content: center; } }
  @media (max-width: 480px) {
    .speakers-catalogue {
      flex-direction: column;
      align-content: center; } }

.speakers-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #90d23d;
  align-items: stretch;
  width: 296px;
  min-height: 296px;
  box-sizing: border-box;
  padding: 33px;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  @media (min-width: 960px) {
    .speakers-item:not(:nth-child(3n)) {
      margin-right: 10px; } }
  @media (min-width: 480px) and (max-width: 960px) {
    .speakers-item {
      width: 45%; }
      .speakers-item:not(:nth-of-type(2n)) {
        margin-right: 15px; } }
  @media (max-width: 480px) {
    .speakers-item {
      width: 90%; } }
  .speakers-item__name {
    color: #fefefe;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.5625em;
    font-weight: 900;
    margin: 0;
    line-height: .9;
    position: relative; }
    @media (min-width: 960px) {
      .speakers-item__name {
        font-size: 2.8125em; } }
    .speakers-item__name::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 33%;
      height: 5px;
      background-color: #fff; }
  .speakers-item__desc {
    color: #fefefe;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px; }
    .speakers-item__desc a {
      text-decoration: none;
      color: inherit; }
  .speakers-item__social {
    margin-top: auto; }
  .speakers-item--item2 {
    background: url("../img/pattern.png"); }
  .speakers-item--picture {
    background: transparent url("../img/speaker-badge.png") no-repeat 50% 50%;
    display: none; }
    @media (min-width: 960px) {
      .speakers-item--picture {
        display: block; } }

.social-box {
  display: flex; }
  .social-box__link {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
    @media (min-width: 480px) and (max-width: 960px) {
      .social-box__link {
        width: 20px;
        height: 20px; } }
    .social-box__link:not(:last-child) {
      margin-right: 10px; }
      @media (min-width: 480px) and (max-width: 960px) {
        .social-box__link:not(:last-child) {
          margin-right: 5px; } }
    .social-box__link:hover {
      opacity: 0.8; }
  .social-box__link--fb {
    background: url("../img/facebook.svg") no-repeat 50% 50%;
    background-size: contain; }
  .social-box__link--tw {
    background: url("../img/twitter.svg") no-repeat 50% 50%;
    background-size: contain; }
  .social-box__link--be {
    background: url("../img/behance.svg") no-repeat 50% 50%;
    background-size: contain; }
  .social-box__link--db {
    background: url("../img/dribbble.svg") no-repeat 50% 50%;
    background-size: contain; }

.events {
  margin-top: 150px;
  padding: 90px 0;
  display: flex;
  flex-direction: column; }
  .events__title {
    color: #242424;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 3.125em;
    font-weight: 900;
    margin: 0 0 30px 100px; }
  .events__text {
    color: #242424;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin: 0 0 20px 100px;
    max-width: 605px; }
  .events__more {
    border-radius: 15px;
    background-color: #373737;
    margin-top: auto;
    align-self: center;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    padding: 20px 48px; }

.events-list {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap; }
  .events-list__item {
    flex-basis: 430px;
    min-height: 416px; }
  .events-list__item--event1 {
    background-color: #3d6ed2;
    flex-grow: 5; }
  .events-list__item--event2 {
    background-color: #90d23d;
    flex-grow: 4; }
  .events-list__item--event3 {
    background-color: #ff9d00;
    flex-grow: 1;
    min-height: 368px; }
  .events-list__item--event4 {
    background-color: #e0652a;
    flex-grow: 3.4;
    min-height: 368px; }

.advantages-item {
  max-width: 302px;
  /*4.700854700855%*/
  /*55px*/
  margin-bottom: 100px;
  position: relative;
  padding-top: 240px;
  text-align: center; }
  .advantages-item__title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin: 0; }
  .advantages-item__text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: lighter; }
  .advantages-item:before {
    position: absolute;
    content: "";
    width: 201px;
    height: 215px;
    top: 0;
    left: 55px;
    background-repeat: no-repeat; }
  .advantages-item--item1:before {
    background-image: url(../img/bg-community.png); }
  .advantages-item--item2 {
    margin-right: 55px;
    margin-left: 55px; }
    @media screen and (max-width: 960px) {
      .advantages-item--item2 {
        margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .advantages-item--item2 {
        margin-left: 0; } }
    .advantages-item--item2:before {
      background-image: url(../img/bg-talk_shop.png); }
  .advantages-item--item3:before {
    background-image: url(../img/bg-war_stories.png); }

.advantages {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 1px dashed red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.program {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 1px dashed red;
  padding: 0 5.982905982906%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .program h2 {
    overflow: hidden; }
  .program__description {
    max-width: 835px;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 37px; }

.program-table {
  display: table;
  width: 100%;
  border-radius: 15px;
  border-collapse: collapse; }
  .program-table__title {
    font-size: 30px;
    color: #fff; }
    .program-table__title th {
      background-color: #a3cc40;
      padding: 20px; }
      .program-table__title th:nth-child(2) {
        text-align: left; }
      @media screen and (max-width: 960px) {
        .program-table__title th {
          padding: 10px;
          font-size: 26px; } }
  .program-table__row {
    color: #fff;
    background-color: #373737; }
    .program-table__row:nth-child(4n) {
      background-color: #4b4d4f; }
    .program-table__row td {
      max-width: 600px;
      font-size: 22px;
      padding: 19px 20px; }
      @media screen and (max-width: 960px) {
        .program-table__row td {
          font-size: 16px;
          padding: 10px 5px; } }
    .program-table__row:hover {
      cursor: pointer;
      background-color: #1e1e1e; }
  .program-table__program {
    text-align: left; }
  .program-table__plus button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
    position: relative;
    outline-style: none; }
    .program-table__plus button::before, .program-table__plus button::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 4px;
      top: 16px;
      left: 10px;
      background-color: #4b4d4f; }
    .program-table__plus button::after {
      transform: rotate(90deg); }
  .program-table__description {
    background-color: #7f8080;
    display: none;
    transition: height 0.2s ease-out; }
    .program-table__description td {
      padding: 15px; }

.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, #4b4d4f 0%, #4b4d4f 100%);
  margin-top: 5.255670103093%;
  margin-bottom: 5.255670103093%; }
  .sponsor::before, .sponsor::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all .5s; }
  .sponsor::before {
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg); }
  .sponsor::after {
    bottom: 0;
    transform-origin: bottom right;
    transform: skewY(-3deg); }
  .sponsor__title {
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-transform: capitalize; }
  .sponsor__text {
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    max-width: 630px;
    padding-left: 2%;
    padding-right: 2%; }
  .sponsor__become {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    color: #444;
    background-color: #90d23d;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 20px; }
    .sponsor__become:hover {
      background-color: #83c72e; }

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .sponsor-list__title {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: lighter; }
  .sponsor-list__item {
    margin-bottom: 65px; }

.map {
  z-index: 5;
  min-height: 660px;
  width: 100%;
  height: 100%;
  position: relative; }
  .map__container {
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    outline: 1px dashed red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/map.jpg"); }
  .map-inform {
    position: absolute;
    height: 100%;
    width: 100%; }

.communication {
  width: 970px;
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  z-index: 5; }

.communication-address {
  width: 270px;
  text-align: center; }
  .communication-address__text {
    position: relative;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 190px; }
    .communication-address__text:before {
      position: absolute;
      content: "";
      width: 132px;
      height: 140px;
      background-image: url("../img/form-icon.png");
      background-repeat: no-repeat;
      top: 0;
      left: 70px; }
  .communication-address__btn {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    color: #444;
    display: inline-block;
    padding-left: 50px;
    padding-right: 55px;
    background-color: #90d23d;
    margin-bottom: 35px; }
    .communication-address__btn:hover {
      background-color: #83c72e; }

.communication-form {
  max-width: 400px; }

.send-message {
  margin-top: 58px;
  margin-bottom: 58px; }
  .send-message__field {
    font-weight: lighter;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #bebebe;
    border-radius: 5px;
    outline-style: none;
    margin-bottom: 26px;
    padding: 20px;
    color: #6c6c6c;
    resize: none; }
    .send-message__field:focus {
      border: 1px solid #90d23d; }
    .send-message__field::placeholder {
      color: #bebebe; }
  .send-message__btn {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px;
    padding-top: 17px;
    padding-bottom: 15px;
    color: #444;
    display: block;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    background-color: #373737;
    cursor: pointer;
    color: #fff; }
    .send-message__btn:hover {
      background-color: #2a2a2a; }

.footer-page {
  position: relative;
  background-color: #90d23d;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .footer-page__text {
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 45px; }
  .footer-page--up {
    position: absolute;
    right: 30px;
    top: 85px; }
    @media screen and (max-width: 480px) {
      .footer-page--up {
        position: absolute;
        top: 215px;
        right: 30px; } }
  .footer-page .btn {
    width: 30px;
    height: 21px; }
    .footer-page .btn::before, .footer-page .btn::after {
      position: absolute;
      content: "";
      width: 21px;
      height: 5px;
      background-color: #212121;
      transform: rotate(45deg); }
    .footer-page .btn::after {
      transform: rotate(-45deg);
      left: 3px; }

.footer-social {
  margin-top: 65px; }
  .footer-social__link {
    display: inline-block;
    position: relative;
    width: 47px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px; }
    .footer-social__link:last-child {
      margin-right: 0; }
    .footer-social__link:before {
      content: "";
      position: absolute;
      width: 47px;
      height: 45px;
      border-radius: 50%;
      left: 0;
      top: 0;
      background-repeat: no-repeat; }
    .footer-social__link--fb:before {
      background-image: url("../img/facebook.svg"); }
    .footer-social__link--tw:before {
      background-image: url("../img/twitter.svg"); }
    .footer-social__link--in:before {
      background-image: url("../img/linkedin.svg"); }
    .footer-social__link--gg:before {
      background-image: url("../img/google%20plus.svg"); }
    .footer-social__link--t:before {
      background-image: url("../img/tumblr.svg"); }
