.advantages-item {
  max-width: 302px;
  /*4.700854700855%*/ /*55px*/
  margin-bottom: 100px;
  position: relative;
  padding-top: 240px;
  text-align: center;
  
  
  &__title {
    font-family: $body-font;
    font-size: 35px;
    text-transform: capitalize;
    margin: 0;
  }
  
  &__text {
    font-family: $body-font;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: lighter;
  }
  
  &:before {
    position: absolute;
    content: "";
    width: 201px;
    height: 215px;
    top: 0;
    left: 55px;
    background-repeat: no-repeat;
  }
  
  &--item1 {
    &:before {
      background-image: url(../img/bg-community.png);
    }
  }
  
  &--item2 {
    
    margin-right: 55px; 
    margin-left: 55px;
    
    @media screen and (max-width: 960px) {
      margin-right: 0; 
    }
    
    @media screen and (max-width: 480px) {
      margin-left: 0; 
    }
    
    &:before {
      background-image: url(../img/bg-talk_shop.png);
    }
  }
  
  &--item3 {
    &:before {
      background-image: url(../img/bg-war_stories.png);
    }
  }
}