.communication-address {
  width: 270px;
  text-align: center;
  
  &__text {
    position: relative;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 190px;
    
    &:before {
      position: absolute;
      content: "";
      width: 132px;
      height: 140px;
      background-image: url("../img/form-icon.png");
      background-repeat: no-repeat;
      top: 0;
      left: 70px;
    }
  }
  
  &__btn {
    @include btn-green;
    display: inline-block;
    padding-left: 50px;
    padding-right: 55px;
    background-color: $signup-color;
    margin-bottom: 35px;
    
    &:hover {
      background-color: darken($signup-color , 5%);
    }
  }
}