body {
  font-size: em(16);
  font-family: $body-font;
  color: $body-color;
  margin: 0 auto;
  min-width: 260px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  @include btn;
}

.container {
  @include container;
}
