body {
  font-size: em(16);
  font-family: $body-font;
  color: $body-color;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  text-decoration: none;
  display: block;
  border: none;
  box-shadow: none;
}
