 .footer-social {
  margin-top: 65px;
 
  &__link {
    display: inline-block;
    position: relative;
    width: 47px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px;
    
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      
    }
    
    &:before {
      content: "";
      position: absolute;
      width: 47px;
      height: 45px;
      border-radius: 50%;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
    }
    
    &--fb {
      &:before {
        background-image: url("../img/facebook.svg");
      }
    }
    
    &--tw {
      &:before {
        background-image: url("../img/twitter.svg");
      }
    }
    
    &--in {
      &:before {
        background-image: url("../img/linkedin.svg");
      }
    }
    
    &--gg {
      &:before {
        background-image: url("../img/google%20plus.svg");
      }
    }
    
    &--t {
      &:before {
        background-image: url("../img/tumblr.svg");
      }
    }
  }
}