.footer-page {
  @include wrapper;
  position: relative;
  background-color: #90d23d;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  
  &__text {
    font-size: 18px;
    font-weight: lighter;
    color: $white;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  
  &--up {
    position: absolute;
    right: 30px;
    top: 85px;
    
    @media screen and (max-width: 480px) {
      position: absolute;
      top: 215px;
      right: 30px;
    }
  }
  
  .btn {
    width: 30px;
    height: 21px;
    
  
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 5px;
    background-color: #212121;
    transform: rotate(45deg);
  }
    
    &::after {
      transform: rotate(-45deg);
      left: 3px;
      
    }
}
}

