.footer-page {
  @include wrapper;
  min-height: 220px;
  background-color: #90d23d;
  text-align: center;
  
  &__text {
    font-size: 18px;
    font-weight: 300;
    color: $white;
  }
  
  .btn {
  position: relative;
  
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 5px;
    left: 15px;
    background-color: #212121;
    transform: rotate(45deg);
  }
    
    &::after {
      transform: rotate(-45deg);
      left: 3px;
      
    }
}
}

