
@mixin wrapper {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 1px dashed red;
}

@mixin btn-green {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 15px;
  padding-top: 17px;
  padding-bottom: 15px;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {

  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 91%;
    @include desktop {
      padding: 0 70px;
      outline: 1px dashed red;
    }
    @include tablet {
      padding: 0 20px;
      outline: 1px dashed gold;
    }

    @include mobile {
      width: 100%;
      outline: 1px dashed black;
    }
}

@mixin angles($direction-top: false, $direction-btm: false, $angle-bg: $white) {
  position: relative;
  &::after,
  &::before {
    content: '';
    background-color: $angle-bg;
    width: 100%;
    height: 100%;
    transform: skewY( - $angle);
  }
  @if $direction-top {
    &::before {
      position: absolute;
      top: 0;
      transform-origin: top right;
    }
  }
  @if $direction-btm {
    &::after {
      position: absolute;
      bottom: 0;
      transform-origin: bottom left;
    }
  }
}

@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
