
@mixin wrapper {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 1px dashed red;
}

@mixin btn-green {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 15px;
  padding-top: 17px;
  padding-bottom: 15px;
  color: #444;
}


@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {

  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 91%;
  max-width: 1170px;
    @include desktop {
      padding: 0 70px;
      outline: 1px dashed red;
    }
    @include tablet {
      padding: 0 20px;
      outline: 1px dashed gold;
    }

    @include mobile {
      width: auto;
      padding: 0 10px;
      outline: 1px dashed black;
    }
}

@mixin angles($direction-top: false, $direction-btm: false, $angle-bg: $white, $z-index: false) {
  position: relative;
  &::after,
  &::before {
    content: '';
    background-color: $angle-bg;
    width: 100%;
    height: 100%;
    transform: skewY( - $angle);
  }
  @if $direction-top {
    &::before {
      position: absolute;
      top: 0;
      transform-origin: top right;
    }
  }
  @if $direction-btm {
    &::after {
      position: absolute;
      bottom: 0;
      transform-origin: bottom left;
    }
  }
  @if $z-index {
    &::after,
    &::before {
      z-index: $z-index;
  }
}
}

@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-ms-input-placeholder      { @content; }
  &::-moz-placeholder { @content; }
}

@mixin btn {
  text-decoration: none;
  display: block;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    box-shadow: inset 0 0 3px #000;
  }
}

@mixin hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
