.signup-form {
display: flex;
flex-direction: column;

	&__field {
    border-radius: 5px;
    border: 1px solid $signup-color;
    background-color: $white;
    padding: 15px;
    margin-top: 20px;
	}

	&__btn {
    border-radius: 5px;
    background-color: $signup-color;
    color: $white;
    font-family: $body-font;
    font-size: em(22);
    font-weight: 700;
    margin-top: 40px;
    padding: 20px;
	}

}
