.sponsor {
  @include wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4b4d4f;
  
  &__title {
    text-align: center;
    font-size: 50px;
    color: $white;
    text-transform: capitalize;
  }
  
  &__text {
    font-size: 14px;
    font-weight: lighter;
    color: $white;
    text-align: center;
    max-width: 630px;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  &__become {
    display: inline-block;
    @include btn-green;
    background-color: #90d23d;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 20px;
    
    &:hover {
      background-color: darken(#90d23d, 5%);
    }
  }
  
}