$body-font:  "Roboto", Arial, sans-serif;
$header-font: "Roboto Slab", "Times New Roman", serif;
$body-color: #242424;
$signup-color: #90d23d;
$white: #fff;
$browser-context: 16;
$angle: 4deg;
$mobile: 480px;
$tablet: 960px;
$desktop: 1170px;

@function em($pixels, $context: $browser-context) {
  @return $pixels / $context * 1em;
}
