$color: #f89a04;

body {
  background-color: $color;
}

h1 {
  color: $color;
  font-size: 18px;
}



@import "variables";
@import "mixins";
@import "fonts";
@import "common";
@import "header-top";
@import "header-top-menu";
@import "countdown";
@import "header-bottom";
@import "welcome";
@import "authorize";
@import "signup-form";
@import "speakers";
@import "speakers-catalogue";
@import "speakers-item";
@import "events";
@import "events-list";
@import "advantages-item";
@import "advantages";
@import "program";
@import "program-table";
@import "program-description";
@import "sponsor";
@import "sponsor-list";
@import "map";
@import "communication-address";
@import "communication-form";
@import "footer-page";
@import "footer-social";
